#rocket-chat .message.active, .message:hover {
    background-color: #1e1e1e !important;
}

#rocket-chat .message .body,
#rocket-chat .rc-room-actions__action,
#rocket-chat .rc-room-actions__more-action,
#rocket-chat .contextual-bar__header-data,
#rocket-chat .rc-input__icon,
#rocket-chat .rc-input__element,
#rocket-chat .rc-header__status,
#rocket-chat .rc-user-info-details__label,
#rocket-chat .contextual-bar__content,
#rocket-chat .rc-popover__item,
#rocket-chat .rc-switch-double,
#rocket-chat .rc-message-box__textarea,
#rocket-chat .rc-member-list__counter,
#rocket-chat .rc-old .page-container,
#rocket-chat .rc-popover__icon,
#rocket-chat .rc-popover__item-text,
#rocket-chat .rc-select__element,
#rocket-chat .rc-button--nude,
.rc-modal-wrapper .rc-input__icon+.rc-input__element,
#rocket-chat .rc-table-title,
.rc-popover .rc-popover__item-text,
.rc-popover .rc-popover__icon,
.rc-old.main-content legend,
.rc-old.main-content label {
    color: #ddd !important;
}

#rocket-chat .message .title .is-bot,
#rocket-chat .message .title .role-tag,
#rocket-chat .chip-container__item, .chip-container li {
    background: #444 !important;
    border-color: #222 !important;
    color: #ccc !important;
}

#rocket-chat .messages-container .footer {
    background-color: #1e1e1e !important;
    color: #eee !important;
}

#rocket-chat .message .user,
#rocket-chat .rc-header__name,
#rocket-chat .rocket-search-tab,
#rocket-chat .rc-user-info__name,
#rocket-chat .rc-popover__title,
#rocket-chat .rc-user-info-details__info,
#rocket-chat .flex-tab__result .attachments__name,
#rocket-chat .rc-message-box__toolbar-formatting-item.active,
#rocket-chat .rc-message-box__toolbar-formatting-item:focus,
#rocket-chat .rc-message-box__toolbar-formatting-item:hover,
#rocket-chat .rc-message-box__typing-user,
#rocket-chat .contextual-bar__header-close-icon,
.rc-popover .rc-popover__title {
    color: #eee !important;
}

#rocket-chat .rc-header,
#rocket-chat .rc-message-box__container.editing,
#rocket-chat .rc-header__wrap,
#rocket-chat .rc-old .page-container,
#rocket-chat .message-popup-results .message-popup-title {
    background: #1e1e1e !important;
}


#rocket-chat .rc-room-actions__action:hover,
#rocket-chat .rc-room-actions__more-action:hover,
#rocket-chat .rc-old .page-container a,
#rocket-chat .message a {
    color: #e53935 !important;
}

#rocket-chat .contextual-bar__content,
#rocket-chat .rc-old .messages-container,
#rocket-chat .rc-old .messages-container-wrapper,
#rocket-chat .rc-popover__column,
#rocket-chat .rc-popover__content,
#rocket-chat .message-box,
#rocket-chat .message,
#rocket-chat .rc-popover__content,
#rocket-chat .rc-select__element,
#rocket-chat .rc-modal__footer,
#rocket-chat .first-unread .body:after,
#rocket-chat .message-popup-results .message-popup .popup-item.selected,
#rocket-chat .rc-table tbody tr:not(.table-no-click):not(.table-no-pointer):hover,
#rocket-chat .rc-user-info-container,
.rc-popover .rc-popover__column,
.rc-popover .rc-popover__content {
    background: #121212 !important;
}

#rocket-chat .thread-message+.thread-message,
#rocket-chat .contextual-bar__header,
#rocket-chat .contextual-bar__header-data {
    border-color: #1e1e1e !important;
}


#rocket-chat .rc-button--primary,
.rc-modal-wrapper .rc-button--primary,
#rocket-chat .rc-popover__item-radio:checked+.rc-popover__item-radio-label,
#rocket-chat .rc-popover__item-radio-label:after {
    background: #ab000d !important;
}

#rocket-chat .attachment .attachment-title,
#rocket-chat .rc-user-info-details__item a,
#rocket-chat .rc-user-info-details__item a:hover,
#rocket-chat .rc-old .page-container a:hover,
#rocket-chat .rc-user-info__config-value,.message a:hover {
    color: #ab000d !important;
}

#rocket-chat .rc-button--outline {
    background: #eee !important;
}

#rocket-chat .message.new-day::before {
    background-color: #222 !important;
    color: #ddd !important;
}

#rocket-chat .rc-user-info-details,
#rocket-chat .flex-tab__result .attachments__item.active,
#rocket-chat .flex-tab__result .attachments__item:hover,
#rocket-chat .contextual-bar__header,
#rocket-chat .contextual-bar__header-data,
#rocket-chat .message-popup-results .message-popup,
#rocket-chat .rc-member-list__user.active,
#rocket-chat .rc-member-list__user:hover {
    background: #272727 !important;
}

#rocket-chat .rc-switch__input:checked+.rc-switch__button {
    background: #ab000d !important;
    border-color: #222 !important;
}

#rocket-chat .mention-link,
#rocket-chat .message .mention-link {
    background: #ddd !important;
    color: #000 !important;
}

#rocket-chat .mention-link:hover,
#rocket-chat .message .mention-link:hover {
    opacity: .8 !important;
}

#rocket-chat .mention-link--me,
#rocket-chat .message .mention-link--me,
#rocket-chat .mention-link--me:hover,
#rocket-chat .message .mention-link--me:hover {
    background: #9a000c !important;
    color: #eee !important;
}

#rocket-chat .mention-link--group,
#rocket-chat .message .mention-link--group {
    background: #fff !important;
}

#rocket-chat .message .reactions>li {
    color: #eee !important;
    border-color: #ddd !important;
    background-color: #121212 !important;
}

#rocket-chat .message .reactions>li.selected,
#rocket-chat .message .reactions>li:hover {
    border-color: #ab000d !important;
}

#rocket-chat .message-body--unstyled {
    color: #bbb !important;
}

#rocket-chat .background-transparent-darker-before::before {
    background-color: rgba(255,255,255,0.15) !important;
}

#rocket-chat .rc-modal-wrapper {
    background: rgba(0,0,0,.8) !important;
}

#rocket-chat .rc-modal {
    background: #121212 !important;
    color: #eee !important;
}

#rocket-chat .tab.active {
    color: #ab000d !important;
    border-color: #ab000d !important;
}

#rocket-chat .rc-old .dropzone .dropzone-overlay {
    color: #ab000d !important;
    border-color: #ab000d !important;
    background: rgba(0,0,0,0.7) !important;
    box-shadow: 0 0 0 17px #000 !important;
}

.rc-modal-wrapper, .rc-old.main-content {
    background: #1e1e1e !important;
    color: #ddd !important;
}

.rc-form-group.rc-grid .rc-button {
    color: #ddd !important;
    border-color: #ddd !important;
}